.socket-wrapper {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.2rem;

    display: flex;
    align-items: center;
}

.socket-input {
    background: black;
    box-shadow:
    0 0 0 0.05rem black,
    0 0 0 0.1rem white,
    0 0 0 0.2rem black;
}

.socket-output {
    flex-direction: row-reverse;
    background: white;
    box-shadow:
    0 0 0 0.15rem white,
    0 0 0 0.2rem black;
}

.socket-label {
    margin: 0.6rem;
    color: black;
}